html,body{
    height: 100%;
    overflow-y: hidden;
    background-color: #DBDBDB;
}
body{
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
}
.shop{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap:5px;
    height: 100%;
    background-color: #7D83FF;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    height: 100%;
    justify-content: center;
    gap: 5px;
    overflow-y: scroll;
}
.gallery >.card{
    flex: 1 1 calc(25% - 10px); 
    box-sizing: border-box; 
    max-width: 100px; 
}
.card{
    display: flex ;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100px;
    background-color: #007FFF;

    border-radius: 5%;
    text-align: center;
    input{
        background-color: wheat;
        border:none;
    }
}

.cart .shoping {
    display: none;
}

.cart label:hover .shoping,
.cart:hover .shoping{
    display: block;
    animation: showCart 1s forwards ease-in;
}

.cart {
    position: relative;
    height: auto;
    z-index: 1;
    padding: 5px;
    width: max-content;
}

.shoping {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 400px; /* Adjust the width as needed */
}
.navbar{
    position: absolute;
    background-color: white;
    top:15px;
    right: 10px;
    width: auto;
    z-index: 1;
    ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 0;
        gap:10px;
        li:hover{
            background-color: lightgray;
            color:white;
            cursor: pointer;
        }
    }
}
.shoping table{
    width: 100%;
    text-align: center;
}
th,td{
    border:1px solid black
}
@keyframes showCart {
    0% {
        display: block;
        opacity: 0;
    }
     15%{
        display: block;
        opacity: 1;
    }
    95% {
        display: block;
        opacity: 1;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

.show .shoping{
    display: block;
    animation: showCart 5s forwards ease-in;
}
.payment{
    width: 100%;
    display: flex;
    justify-content:start;
    input{
        width: 50%;
        margin: 5px;
    }
    label{
        width: 50%;
        text-align: center;
        margin: 5px;
    }
}